<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071064634777-epsa562q7tp8tfpvh5m113ekobm0vov4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071064634777-epsa562q7tp8tfpvh5m113ekobm0vov4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1071064634777-oe81806f6llb6f2gbkonv7ll683j809f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCKSJ3nu0NBFU2qwriK7xCbRho0B0FVKls</string>
	<key>GCM_SENDER_ID</key>
	<string>1071064634777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.g2.FeelTok</string>
	<key>PROJECT_ID</key>
	<string>feeltok-9a12f</string>
	<key>STORAGE_BUCKET</key>
	<string>feeltok-9a12f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071064634777:ios:65edc90cbac7c4c0fe2f08</string>
	<key>DATABASE_URL</key>
	<string>https://feeltok-9a12f-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>