* {
    font-family: sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    background-color: white;
    text-align: left;
}

th {
    background-color: #F9FAFD;
    color: black;
}

.disabled {
    color: red;
    opacity: 0.5;
}

.tableHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 500px;
    padding: 8px;
}

.searchContainer {
    display: flex;
    gap: 25px;
}